.navbar {
    position: fixed;
    top: 24px;
    left: 48px;
    right: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.65rem;
    letter-spacing: 0.2em;
    z-index: 100;
    text-transform: uppercase;
    background: transparent;
    padding: 10px 20px;
}

.navbar .logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin-left: 24px;
    text-decoration: none;
    color: white;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.nav-links a:hover {
    opacity: 1;
}

/* Mobile Menu Icon (Hidden on Desktop) */
.mobile-menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 1.5rem;
    background: transparent;
    border: none;
    z-index: 101;
}

.menu-line {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s linear;
}

/* Mobile Menu Container */
.mobile-menu-container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    /* Full screen on mobile */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease-in-out;
    z-index: 99;
}

.mobile-menu-container.open {
    right: 0;
}

.mobile-menu-container a {
    font-size: 1.5rem;
    margin: 20px 0;
    color: white;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.mobile-menu-container a:hover {
    opacity: 1;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .navbar {
        left: 20px;
        right: 20px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        border-radius: 8px;
    }

    .nav-links {
        display: none;
    }

    .mobile-menu-icon {
        display: flex;
    }
}